<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>etatCivil.accueil.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <display-name>etatCivil</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnexionDB</display-name>
    <servlet-name>ConnexionDB</servlet-name>
    <servlet-class>etatCivil.accueil.conn.ConnexionDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionDB</servlet-name>
    <url-pattern>/conn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuterScriptSQL</display-name>
    <servlet-name>ExecuterScriptSQL</servlet-name>
    <servlet-class>etatCivil.accueil.fichierSql.ExecuterScriptSQL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuterScriptSQL</servlet-name>
    <url-pattern>/personneSql</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsererPersonnesBatch</display-name>
    <servlet-name>InsererPersonnesBatch</servlet-name>
    <servlet-class>etatCivil.accueil.fichierSql.InsererPersonnesBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsererPersonnesBatch</servlet-name>
    <url-pattern>/InsererPersonnesBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListePersonnes</display-name>
    <servlet-name>ListePersonnes</servlet-name>
    <servlet-class>etatCivil.accueil.fichierSql.ListePersonnes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListePersonnes</servlet-name>
    <url-pattern>/ListePersonnes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenererGraphiques</display-name>
    <servlet-name>GenererGraphiques</servlet-name>
    <servlet-class>etatCivil.accueil.fichierSql.GenererGraphiques</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenererGraphiques</servlet-name>
    <url-pattern>/GenererGraphiques</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImprimerPersonne</display-name>
    <servlet-name>ImprimerPersonne</servlet-name>
    <servlet-class>etatCivil.accueil.fichierSql.ImprimerPersonne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImprimerPersonne</servlet-name>
    <url-pattern>/ImprimerPersonne</url-pattern>
  </servlet-mapping>
</web-app>